#players {
  text-align: center;
}

#alert-text, #salvoes-text {
	color: red;
}

.salvo-fired,
.salvo-received {
  background-color: rgba(255, 0, 0, 0.4) !important;
  z-index: 9999;
}

.salvo-hit {
	background-color: rgba(0, 255, 0, 0.4) !important;
}

.salvo-for-select:hover{
	background-color: yellow;
	opacity: 0.4;
}

.salvo-selected {
	background-color: greenyellow;
	opacity: 0.8;
}

#login-form,
#signup-form {
  position: absolute;
  background-color: white;
  border: 1px solid grey;
  padding: 20px;
  display: none;
  margin-top: 1px;
  width: 350px;
  z-index: 1;
}

#main-body {
  visibility: hidden;
}

#logout-panel {
  display: none;
}

#salvo-history {
	text-align: center;
	margin-top: 10px;
}

/* animación de carga de página */
#reload-body img {
  width: 50px;
  margin: auto;
  display: block;
  animation: reload-move 5s infinite;
  margin-top: 25%;
}
@keyframes reload-move {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

#player-name {
  margin-right: 20px;
}

#signup-error,
#login-error {
  color: red;
}

.join-game-link li {
  color: blue;
}

/* Botones */
.login-button,
.signup-button,
.logout-button {
  background-color: black;
  border-radius: 5px;
  border: 1px solid black;
  padding: 3px 10px;
  width: 80px;
  color: white;
}

.create-game-button {
	width: 100px;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 2px solid black;
	color: white;
	background-color: black;
}
.create-game-button:hover {
	color: black;
	background-color: white;
}

.join-game-button {
	width: 130px;
	margin-left: 15px;
	border-radius: 5px;
	border: 2px solid black;
	color: white;
	background-color: black;
}
.join-game-button:hover {
	color: black;
	background-color: white;
}

#finish-placing-button, #finish-salvoes-button {
	text-align: center;
}
.finish-placing-button, .finish-salvoes-button {
	margin: 10px;
	border-radius: 5px;
	border: 2px solid black;
	color: white;
	background-color: black;
}






/* Estilos de terceros --------------------------------------------------*/
.grid-stack-item-content {
  background-repeat: no-repeat;

  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.carrierHorizontal {
  background-image: url('ships/carrier.png');
  background-size: 85% 100%;
  background-position: center;
}

.carrierVertical {
  background-image: url('ships/carrier_vertical.png');
  background-size: 100% 85%;
  background-position: center;
  width: 45px !important;
}

.battleshipHorizontal {
  background-image: url('ships/battleship.png');
  background-size: 85% 100%;
  background-position: center;
}

.battleshipVertical {
  background-image: url('ships/battleship_vertical.png');
  background-size: 100% 85%;
  background-position: center;
  width: 45px !important;
}

.submarineHorizontal {
  background-image: url('ships/submarine.png');
  background-size: 90% 100%;
  background-position: center;
}

.submarineVertical {
  background-image: url('ships/submarine_vertical.png');
  background-size: 100% 90%;
  background-position: center;
  width: 45px !important;
}

.destroyerHorizontal {
  background-image: url('ships/destroyer.png');
  background-size: 100% 150%;
  background-position: center;
}

.destroyerVertical {
  background-image: url('ships/destroyer_vertical.png');
  background-size: 150% 100%;
  background-position: center;
  width: 45px !important;
}

.patrol_boatHorizontal {
  background-image: url('ships/patrol_boat.png');
  background-size: 100% 150%;
  background-position: center;
}

.patrol_boatVertical {
  background-image: url('ships/patrol_boat_vertical.png');
  background-size: 150% 100%;
  background-position: center;
  width: 45px !important;
}



.grid-ships-player,
.grid-ships-opponent {
  background-image: url(ocean.gif);
  background-size: cover;
  border: 2px solid rgb(128, 128, 128);
  border-radius: 10px;
  height: 495px;
  width: 495px;
  margin: auto;
}

#player-grid,
#opponent-grid {
  margin: 45px 0 0 45px;
  position: absolute;
  width: 450px;

}

.grid-wrapper {
  display: absolute;
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

#grid-ships-opponent .grid-row {
  z-index: 1;
}

.grid-cell {
  display: flex;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  border: 1.3px solid rgb(128, 128, 128);
  border-radius: 10px;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

.grid-cell span {

  margin: auto
}

.busy-cell {
  background-color: rgba(0, 119, 190, 0.5);

}

.grid-row:first-child .grid-cell {
  background-color: rgba(170, 169, 173, 0.7);
}

.grid-cell:first-child {
  background-color: rgba(170, 169, 173, 0.7);
}