body {
	font-size: 15px !important;
	position: relative;
  min-height: 100vh;
	padding-bottom: 3rem;
}

.back-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

#logo {
	height:55px;
	margin-bottom: -50px;
}

#players {
	text-align: center;
	color: white;
}

#back-video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -10;
}

#back-img {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -10;
}
#overlay { 
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: -9;
}
#select-team {
	position: fixed;
	display: none;
	padding: 30px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 9;
	background-color: rgba(255,255,255,0.8);
	border-radius: 15px;
}
#select-team img {
	height: 100px;
	width: 200px;
	margin: 10px;
}
#select-team img:hover {
	transform: scale(1.1);
}

.flags-list {
	height: 17px;
	width: 34px;
	margin: 0px 10px;
}

#select-team button {
	border-radius: 5px;
	border: 1px solid white;
	background-color: black;
	color: white;
	margin: 5px;
	font-weight: bold;
	text-transform: uppercase;
}

#game-list-select {
	border-radius: 5px;
	border: 1px solid white;
	background-color: black;
	color: white;
	margin-bottom: 5px;
}

#controls-console,
#controls-console-inf {
	background-color: rgba(0,0,0,0.6);
	color: green;
	padding: 15px;
	font-weight: bold;
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,0.6);
	line-height: 2em;
}

.title-control {
	border: 1px solid green;
	border-radius: 5px;
	background-color: green;
	color: black;
	padding: 2px 5px;
	margin: 0px 5px;
	text-transform: uppercase;
}

.radar-image {
	height: 45px;
	margin-right: 50px;
	position: absolute;
	border-radius: 50px;
	top: 0px;
	left: 0px;
}

.info-control {
	color: white;
	border-top: 2px solid green;
	border-bottom: 2px solid green;
	padding: 2px 5px;
	border-radius: 5px;
	text-align: left;
	margin-top: 10px;
}

#alert-text,
#salvoes-text {
	color: red;
	font-weight: bold;
}

.salvo-fired,
.salvo-received {
	background-color: rgba(255, 0, 0, 0.4) !important;
	z-index: 9999;
}

.salvo-hit {
	background-color: rgba(0, 255, 0, 0.4) !important;
}

.salvo-for-select:hover {
	background-color: yellow;
	opacity: 0.4;
}

.salvo-selected {
	background-color: greenyellow;
	opacity: 0.8;
}

#login-form,
#signup-form {
	position: absolute;
	background-color: white;
	border: 1px solid grey;
	padding: 20px;
	display: none;
	margin-top: 1px;
	width: 350px;
	z-index: 3;
	border-radius: 5px;
}

#main-body {
	visibility: hidden;
}

#logout-panel {
	display: none;
}

#leaderboard-table {
	opacity: 0.7;
}

#game-list {
	max-height: 400px;
	overflow-y: scroll;
}

.list-group-item {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

#ship-counter,
#salvo-counter {
	text-align: center;
	font-weight: bold;
	margin: 5px;
}

#salvo-history {
	text-align: center;
	margin-top: 10px;
}

/* animación de carga de página */
#reload-body img {
	width: 50px;
	margin: auto;
	display: block;
	animation: reload-move 5s infinite;
	margin-top: 25%;
}

@keyframes reload-move {
	from {
		transform: rotate(360deg);
	}

	to {
		transform: rotate(0deg);
	}
}

#player-name {
	margin-right: 20px;
}

#signup-error,
#login-error {
	color: red;
}

.join-game-link li {
	color: blue;
}

/* Botones */
.login-button,
.signup-button,
.logout-button {
	background-color: black;
	border-radius: 5px;
	border: 1px solid white;
	padding: 3px 10px;
	width: 120px;
	color: white;
	font-weight: bold;
	z-index: 3;
	position: relative;
}

.close-panel {
	text-align: right;
	margin-top: -12px;
}
.close-panel button {
	background-color: black;
	color: white;
	border: 1px solid white;
	border-radius: 50%;
  padding: 1px 5px;
  font-size: 11px;
}

.back-button {
	background-color: black;
	border-radius: 5px;
	border: 1px solid white;
	padding: 3px 10px;
	width: 130px;
	color: white;
	font-weight: bold;
}

.create-game-button {
	width: 100px;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	background-color: black;
	font-weight: bold;
}

.join-game-button {
	width: 130px;
	margin-left: 15px;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	background-color: black;
	font-weight: bold;
}

.join-game-button:hover,
.create-game-button:hover,
.back-button:hover {
	color: black;
	background-color: white;
}

.select-grid-button {
	width: 100px;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px solid white;
	color: white;
	background-color: black;
	font-weight: bold;
	font-size: 11px;
}
.select-grid-button-selected {
	background-color: white;
	color: black;
}

#finish-placing-button,
#finish-salvoes-button {
	text-align: center;
}

.finish-placing-button,
.finish-salvoes-button {
	margin: 10px;
	border-radius: 5px;
	border: 2px solid white;
	color: white;
	background-color: black;
	font-weight: bold;
}

#footnote {
	font-size: 12px;
	background-color: black;
	color: white;
	padding: 5px;
	margin-top: 5px;
	text-align: center;
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
}

#game-list::-webkit-scrollbar {
	width: 10px;
}
#game-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#game-list::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.5);
  outline: 1px solid black;
}

.end-game img {
	border-radius: 50%;
	height: 150px;
}


/* Estilos de terceros --------------------------------------------------*/
.grid-stack-item-content {
	background-repeat: no-repeat;

	cursor: -webkit-grab;
	cursor: -moz-grab;
}

.carrierHorizontal {
	background-image: url('ships/carrier.png');
	background-size: 85% 100%;
	background-position: center;
}

.carrierVertical {
	background-image: url('ships/carrier_vertical.png');
	background-size: 100% 85%;
	background-position: center;
	width: 45px !important;
}

.battleshipHorizontal {
	background-image: url('ships/battleship.png');
	background-size: 85% 100%;
	background-position: center;
}

.battleshipVertical {
	background-image: url('ships/battleship_vertical.png');
	background-size: 100% 85%;
	background-position: center;
	width: 45px !important;
}

.submarineHorizontal {
	background-image: url('ships/submarine.png');
	background-size: 90% 100%;
	background-position: center;
}

.submarineVertical {
	background-image: url('ships/submarine_vertical.png');
	background-size: 100% 90%;
	background-position: center;
	width: 45px !important;
}

.destroyerHorizontal {
	background-image: url('ships/destroyer.png');
	background-size: 100% 150%;
	background-position: center;
}

.destroyerVertical {
	background-image: url('ships/destroyer_vertical.png');
	background-size: 150% 100%;
	background-position: center;
	width: 45px !important;
}

.patrol_boatHorizontal {
	background-image: url('ships/patrol_boat.png');
	background-size: 100% 150%;
	background-position: center;
}

.patrol_boatVertical {
	background-image: url('ships/patrol_boat_vertical.png');
	background-size: 150% 100%;
	background-position: center;
	width: 45px !important;
}



.grid-ships-player,
.grid-ships-opponent {
	background-image: url(ocean.gif);
	background-size: cover;
	border: 2px solid rgb(128, 128, 128);
	border-radius: 10px;
	height: 495px;
	width: 495px;
	margin: auto;
}

#opponent-ship-box {
	display: none;
}

#player-grid,
#opponent-grid {
	margin: 45px 0 0 45px;
	position: absolute;
	width: 450px;

}

.grid-wrapper {
	display: absolute;
	display: flex;
	flex-direction: column;
}

.grid-row {
	display: flex;
	flex-direction: row;
}

#grid-ships-opponent .grid-row {
	z-index: 1;
}

.grid-cell {
	display: flex;
	box-sizing: border-box;
	width: 45px;
	height: 45px;
	border: 1.3px solid rgb(128, 128, 128);
	border-radius: 10px;
	vertical-align: middle;
	font-weight: bold;
	text-align: center;
	align-items: center;
}

.grid-cell span {
	margin: auto
}

.busy-cell {
	background-color: rgba(0, 119, 190, 0.5);

}

.grid-row:first-child .grid-cell {
	background-color: rgba(170, 169, 173, 0.7);
}

.grid-cell:first-child {
	background-color: rgba(170, 169, 173, 0.7);
}